<web-app xmlns="http://java.sun.com/xml/ns/javaee"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
         http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
   version="3.0">
<context-param>
       <param-name>contextConfigLocation</param-name>
       <param-value>
          /WEB-INF/data-source-hiber-cfg.xml,
          /WEB-INF/dao-cfg.xml
          /WEB-INF/transaction-cfg.xml
        </param-value>        
   </context-param>
 
 
   <!-- Spring ContextLoaderListener -->
   <listener>
       <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
   </listener>
  <display-name>Archetype Created Web Application</display-name>
</web-app>
